{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-flow-strip-types"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015",
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-flow-strip-types"
      ]
    }
  }
}