.NewTodo input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 0 8px 40px;
  font-size: 22px;
  vertical-align: middle;
  border: 1px solid #bbb;
  margin: 0;
  outline: 0;
  background: transparent;
  -webkit-transition: background-color .15s ease-in-out;
  -moz-transition: background-color .15s ease-in-out;
  -ms-transition: background-color .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}

.NewTodo input:focus {
  background: #f8f8f8;
}
